 <!--Header-->
 <nav class="nav-extended blue darken-4">
  <div class="nav-wrapper">
    <a routerLink="/grafo-archivo" class="brand-logo"><i class="large material-icons">
      camera</i>Plataforma didactica de grafos</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/user">Acerca de </a></li>
      <li><a routerLink="/user">Componentes</a></li>
      <li><a routerLink="/user">Usuario</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="/grafo-archivo">Archivo</a></li>
      <li class="tab"><a routerLink="/grafo-view">Editar</a></li>
      <!--<li class="tab disabled"><a routerLink="#test3">Disabled Tab</a></li>--->
      <li class="tab"><a href="/grafo-listar">Listar grafos</a></li>
      <li class="tab"><a routerLink="/informacion-busqueda">Busquedas</a></li>
      <li class="tab"><a routerLink="/grafo-analizar">Solucion problemas</a></li>
      <li class="tab"><a routerLink="/informacion-inteligente">Inteligencia artificial (IA)</a></li>
      <li class="tab"><a routerLink="/ayuda">Ayuda</a></li>

    </ul>
  </div>
</nav>

<!-- <ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/grafo-analizar">About</a></li>
  <li><a routerLink="/grafo-analizar">Components</a></li>
  <li><a routerLink="/grafo-analizar">Usuario</a></li>
</ul> -->
