<ng-container *ngIf="grafoArray">
  <div>
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <div class="row">
            <div class="col s2">
              <th>Nombre</th>
            </div>
            <div class="col s1">
              <th>N. Nodos</th>
            </div>
            <div class="col s1">
              <th>N. Aristas </th>
            </div>
            <div class="col s2">
              <th>Tiempo </th>
            </div>
            <div class="col s2">
              <th>Opcion</th>
            </div>
            <div class="col s2">
              <th></th>
            </div>
            <div class="col s2">
              <th></th>
            </div>
          </div>




        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let grafo of grafoArray">
          <div class="row">
            <div class="col s2">
              <td> {{grafo.name}}</td>
            </div>
            <div class="col s1">
              <td>{{grafo.nodes.length}}</td>
            </div>
            <div class="col s1">
              <td>{{grafo.edges.length}}</td>
            </div>
            <div class="col s2">
              <td> {{grafo.tiempo}}</td>
            </div>

            <div class="col s2">
              <td>
                <a class="waves-effect waves-light btn-small blue" (click)="drawGrafo(grafo._id)"><i
                    class="material-icons right">image_aspect_ratio</i>Draw</a>

              </td>
            </div>
            <div class="col s2">
              <td>
                <a class="waves-effect waves-light btn-small red" (click)="analizarGrafo(grafo._id)"><i
                    class="material-icons right">border_bottom</i>Analyze</a>
              </td>

            </div>
            <div class="col s2">
              <td>
                <a class="waves-effect waves-light btn-small red" (click)="deleteGrafo(grafo._id)"><i
                    class="material-icons right">delete_forever</i>Delete</a>
              </td>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container>
  <div class="row">
    <div class="input-field col s6 m6">
      <select class="icons" id="tipo-particion">
        <option value="find_profundidad"
          data-icon="assets\image\busq-profun.png">Busqueda por profundidad</option>
        <option value="find_anchura"
          data-icon="assets\image\busq-anchu.png">
          Busqueda por anchura</option>
        <option value="a-estrella"
          data-icon="assets\image\a-estre.png">
          A*</option>
        <option value="poda-a-b"
          data-icon="assets\image\poda-a-b.png">
          Poda Alfa-Beta</option>
      </select>
      <label>Seleccione una opcion</label>
    </div>
  </div>

</ng-container>
